{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        compojure {:mvn/version "1.6.1"}
        org.clojure/test.check {:mvn/version "0.10.0"}
        com.velisco/strgen {:mvn/version "0.1.8"}
        criterium {:mvn/version "0.4.5"}
        ring {:mvn/version "1.7.1"}
        ring/ring-mock {:mvn/version "0.4.0"}
        instaparse {:mvn/version "1.4.10"}
        ring-json-response {:mvn/version "0.2.0"}
        clj-time {:mvn/version "0.15.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                      javax.servlet/servlet-api {:mvn/version "2.5"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
